/* Start Viewport desktop */
#body-content { height:1921px; }
#txtBox_71 { top:204px; left:111px; width:757px; height:105px; z-index:105; }
#stripTool_83 { top:1381px; left:0px; width:100%; height:100px; z-index:106; }
#stripTool_108 { top:1657px; left:0px; width:100%; height:264px; z-index:104; }
body { background-color:#000000; }
#imageContainer_109 { top:0px; left:0px; width:100%; height:600px; z-index:102; }
#imageContainer_109 img { width:600; height:400; }
#btnTool_108 { top:366px; left:380px; width:220px; height:70px; z-index:107; }
#btnTool_108 .wseT { line-height:70px; }
/* End Viewport desktop */
